* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem;
  gap: 1rem;
}

main .left,
main .right {
  width: 50%;
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
  overflow: auto;
}

main .left {
  background-color: #040303;
  position: relative;
}

.left .code,
.code pre,
.code pre code {
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  background-color: #161515;
}

main .left .review {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: #d1cedb;
  color: #000000;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

main .left .review:hover {
  background-color: #b5a8e3;
  cursor: pointer;
}

main .right {
  background-color: #454545;